linclude README.md
include LICENSE
include requirements.txt
include CITATION.cff
include environment.yml
include setup.py
include meta.yaml
include conda_build_config.yaml

# Include EVERYTHING in staphscope directory
recursive-include staphscope *

# ONLY exclude things OUTSIDE staphscope/ directory
prune STAPHSCOPE_FINAL_RESULTS
prune MRSA_genomes
prune BROWN
prune *_results
abricate_results
prune staphscope/modules/*/abricate_results
# DO NOT exclude fasta files!
# Remove or comment out:
# exclude *.fna
# exclude *.fasta

# Standard exclusions
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude *~
global-exclude .DS_Store
